

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


:root {
  --main-bg-color: #4C2F5C;
  --secondary-bg-color: #1F224D;
}

.header-background {
    width: 0;
    height: 96px;
    border-left: 49vw solid transparent;
    border-right: 49vw solid transparent;
    border-top: 15vh solid var(--main-bg-color);
}

.header-background-top {
    height: 50vh;
    background: var(--main-bg-color);
}

.header-background-wrapper {
  width: 98.5vw;
}

header.mastheadd {
    height: 70vh;
    color: #fff;
}

.container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 125px;
}

.container-main {
    margin-right: 10px;
    font-size: 18px;
}

 .top-triangle {
    width: 0;
    height: 0;
    border-bottom: 128px solid var(--secondary-bg-color);
    border-left: 98.5vw solid transparent;
}

.bottom-triangle {
    width: 0;
    height: 0;
    border-top: 128px solid var(--secondary-bg-color);
    border-left: 98.5vw solid transparent;
    background: var(--main-bg-color);
}

 .middle-rectangle{
     background-color: var(--secondary-bg-color);
     height: 20vh;
 }

 .main-bottom-wrapper{
     width: 100vw;
 }

 /*projects*/

.col-md-6.col-lg-6 {
    display: flex;
}

.col-md-6.col-lg-6 > div {
    width: 50vw;
}

img.img-fluidd {
  display: block;
  max-width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.text-center.text-uppercase.text-secondary.mb-0 {
    text-align: center;
    font-size: 40px;
}

.container3 {
    text-align: center;
    width: 97vw;
    line-height: 1.4em;
    margin-top: -83px;
}
.project-description-section{
    /* padding: 20px; */
    text-align: center;
}

.main-bottom-wrapper {
    width: 98.5vw;
    position: absolute;
    z-index: -1;
}

.contact-wrapper {
    text-align: center;
    margin-top: 14vh;
}

.nduhiu-shiny {
    font-weight: bold;
}

.footer-bottom{
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
}

.bottom-footer{
    background-color: var(--main-bg-color);
    height: 0vh;
}

h4.text-uppercase.mb-4 {
    color: white;
}

.contact {
    color: white;
}

.rowww {
  padding: 0px 84px;
  margin-top: 20vh;
}

@media(max-width:768px){
    .col-md-6.col-lg-6{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
}



.navbar {
    display: flex;
    background: #472c56;
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    color: #fff;
    height: 10vh;
    align-items: center;
    position: absolute;
    top: 0;
    width: 98.5vw;
    transition: top 0.3s;
    margin-top: 1vh;
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    color: #fff;
    margin-right: 5px;
}

a{
    color: #fff;
}

.nav-items > div{
    padding: 5px;
}

.nav-logo {
  margin-left: 15px;
}

@media only screen and (max-width: 768px) {
  .nav-items,
  .navbar,
  .nav-logo {
    flex-direction: column;
    height: auto;
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-logo {
    flex-direction: column;
    height: auto;
    margin-left: -7vw;
  }
}

@media only screen and (max-width: 768px) {
  .container2 {
    margin-top: 8vh;
    padding: 90px;
  }
}





a:link {
    text-decoration: none;
  }

.links-container > a{
    color: #0546e4;
}


.footer-main {
    width: 100vw;
    padding: 2px;
}



@media(max-width:768px){
    .container3{
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0;
        transform: translate(-50%, -50%);
        padding: 1.2em;
        font-size: 15px;
        margin-top: 0;
      }
}

.container3 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    50% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }
  }

  .container2 {
    animation-duration: 3s;
    animation-name: slide;
  }
  
  @keyframes slide {
    from {
      margin-left: -50%;
      width: 50%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }

  }



  .navbar > div:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .navbar > div:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  } 
  
  .project-description-section> div:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  .row > div:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
   
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


  .container2 > h2:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  

  @media(max-width:768px){
    .col-md-6.col-lg-6 > div{
      width: 100%
      }
}


@media(max-width:768px){
  .project-description-section {
    text-align: center;
    }
}


p.p-des {
  padding: 20px;
  align-content: center;
  width: 72vw;
  display: table-cell;
}

p.p-des:hover{
  background: var(--main-bg-color);
  transition: all 0.4s ease 0s;
  color: #fff;
}

h2#stack {
  margin-top: 0vh;
}

hr { 
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.col-md-6.col-lg-6 {
  display: flex;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}